
{%extends 'base.html'%}

{%load static%}

{%block content%}


<div class="container">
        <h1 class="text-center text-white mt-5 mb-5">Idiomas</h1>

          <img src="{% static 'images/idiomas.jpg' %}" class="card-img-top" alt="...">

        

<div class="container text-center">
  <div class="row">
    <div class="col-6">
        <h1 class="text-start text-white mt-5 mb-5">Inglés para Tecnología Nivel I</h1>
        <h2 class="text-start text-white mt-5 mb-5">Mier y Vie de 17:30 a 20:30 </h2>
        <h2 class="text-start text-white mt-5 mb-5">Requisitos: Primaria ó EGB Terminado </h2>
        <h2 class="text-start text-white mt-5 mb-5">Lugar de dictado: Av. Colón 4251 </h2>
        <h2 class="text-start text-white mt-5 mb-5"> Se trata de un curso con gramática, vocabulario y expresiones específicas utilizadas en la industria del turismo y la hotelería. Se trabajan temas relacionados al aeropuerto, viajes, destinos turísticos, a la vez que se incorporan estructuras gramaticales formales. </h2>


    </div>
    <div class="col-6">
        <h1 class="text-start text-white mt-5 mb-5">Inglés para Hotelería/Gastronomía Digital Nivel I y II</h1>
        <h2 class="text-start text-white mt-5 mb-5">Ma a Jue de 08.00 a 11.30 </h2>
        <h2 class="text-start text-white mt-5 mb-5">Requisitos: Primaria ó EGB Terminado </h2>
        <h2 class="text-start text-white mt-5 mb-5">Lugar de dictado: Av. Colón 4251 </h2>
        <h2 class="text-start text-white mt-5 mb-5">Curso relacionado a las nuevas tecnologías, trabajos dentro de la industria tecnológica. Se incorporan estructuras gramaticales formales y expresiones orales.  </h2>

    </div>
  </div>
</div>
</div>






{% endblock %}