
{%extends 'base.html'%}

{%load static%}

{%block content%}


<div class="container">
        <h1 class="text-center text-white mt-5 mb-5">Mecanica</h1>

          <img src="{% static 'images/Mecanica.jpg' %}" class="card-img-top" alt="...">

        

<div class="container text-center">
  <div class="row">
    <div class="col-6">
        <h1 class="text-start text-white mt-5 mb-5">Reparación de Refrigeradores Domésticos</h1>
        <h2 class="text-start text-white mt-5 mb-5">Mier y Vie de 17:30 a 20:30 </h2>
        <h2 class="text-start text-white mt-5 mb-5">Requisitos: Primaria ó EGB Terminado </h2>
        <h2 class="text-start text-white mt-5 mb-5">Lugar de dictado: Av. Colón 4251 </h2>
        <h2 class="text-start text-white mt-5 mb-5">Está capacitado para la reparación de circuitos frigoríficos incluyendo heladeras domésticas y freezer. Asimismo, se realiza capacitación en circuitos eléctricos, se introducirá a los estudiantes en interpretación de planos eléctricos, medición de resistencias, así como se desarrollará el manejo, multímetro, pinza amperométrica, etc. Estos conocimientos permitirán desarrollar aptitudes de detección de fallas en circuitos eléctricos de refrigeración. </h2>


    </div>
    <div class="col-6">
        <h1 class="text-start text-white mt-5 mb-5">Reparación de Electrodomesticoss</h1>
        <h2 class="text-start text-white mt-5 mb-5">Ma a Jue de 08.00 a 11.30 </h2>
        <h2 class="text-start text-white mt-5 mb-5">Requisitos: Primaria ó EGB Terminado </h2>
        <h2 class="text-start text-white mt-5 mb-5">Lugar de dictado: Av. Colón 4251 </h2>
        <h2 class="text-start text-white mt-5 mb-5">Focalizado especialmente en la reparación de electrodomésticos de línea blanca: Lavarropas Automáticos de sistema europeo, tanto de comando analógico como digital (programador y placa electrónica) también sistema fuzzy. Secarropas. También abordamos hornos microondas. Y la reparación de electrodomésticos en general.  </h2>

    </div>
  </div>
</div>
</div>






{% endblock %}