{% extends 'base.html' %}
{%load static%}
{%block content%}


<div class="container-fluid mt-5">
  <div class="row justify-content-center text-center">

    <div class="col-4 ">
    <div class="card bg-dark border-0">
      <img src="{% static 'images/informatica.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body bg-dark">
        <h5 class="card-title fs-2 text-white">Informática</h5>
        <p class="card-text fs-4"></p>
        <a href="/cursos/Informatica" class="btn btn-warning fs-3 d-grid gap-2 d-md-block">Ver curso</a>
      </div>
    </div>
    </div>

        <div class="col-4 ">
    <div class="card bg-dark border-0">
      <img src="{% static 'images/Gastronomia.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body bg-dark">
        <h5 class="card-title fs-2 text-white">Gastronomía</h5>
        <p class="card-text fs-4"></p>
        <a href="/cursos/Gastronomia" class="btn btn-warning fs-3 d-grid gap-2 d-md-block">Ver curso</a>
      </div>
    </div>
    </div>

        <div class="col-4 ">
    <div class="card bg-dark border-0">
      <img src="{% static 'images/idiomas.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body bg-dark">
        <h5 class="card-title fs-2 text-white">Idiomas y Administración</h5>
        <p class="card-text fs-4"></p>
        <a href="/cursos/Idiomas" class="btn btn-warning fs-3 d-grid gap-2 d-md-block">Ver curso</a>
      </div>
    </div>
    </div>


        <div class="col-4 ">
    <div class="card bg-dark border-0">
      <img src="{% static 'images/Construcciones.jpeg' %}" class="card-img-top" alt="...">
      <div class="card-body bg-dark">
        <h5 class="card-title fs-2 text-white">Construcciones</h5>
        <p class="card-text fs-4"></p>
        <a href="/cursos/Construcciones" class="btn btn-warning fs-3 d-grid gap-2 d-md-block">Ver curso</a>
      </div>
    </div>
    </div>


        <div class="col-4 ">
    <div class="card bg-dark border-0">
      <img src="{% static 'images/Mecanica.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body bg-dark">
        <h5 class="card-title fs-2 text-white">Mecánica y Refrigeración</h5>
        <p class="card-text fs-4"></p>
        <a href="/cursos/mecanica" class="btn btn-warning fs-3 d-grid gap-2 d-md-block">Ver curso</a>
      </div>
    </div>
    </div>


        <div class="col-4 ">
    <div class="card bg-dark border-0">
      <img src="{% static 'images/Textil.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body bg-dark">
        <h5 class="card-title fs-2 text-white">Textil y Artesanias</h5>
        <p class="card-text fs-4"></p>
        <a href="/cursos/Textil" class="btn btn-warning fs-3 d-grid gap-2 d-md-block">Ver curso</a>
      </div>
    </div>
    </div>


        <div class="col-4 ">
    <div class="card bg-dark border-0">
      <img src="{% static 'images/Limpieza.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body bg-dark">
        <h5 class="card-title fs-2 text-white">Limpieza Institucional</h5>
        <p class="card-text fs-4"></p>
        <a href="/cursos/Limpieza" class="btn btn-warning fs-3 d-grid gap-2 d-md-block">Ver curso</a>
      </div>
    </div>
    </div>

        <div class="col-4 ">
    <div class="card bg-dark border-0">
      <img src="{% static 'images/Agropecuarias.jpeg' %}" class="card-img-top" alt="...">
      <div class="card-body bg-dark">
        <h5 class="card-title fs-2 text-white">Actividades Agropecuarias</h5>
        <p class="card-text fs-4"></p>
        <a href="/cursos/Agropecuarias" class="btn btn-warning fs-3 d-grid gap-2 d-md-block">Ver curso</a>
      </div>
    </div>
    </div>


        <div class="col-4 ">
    <div class="card bg-dark border-0">
      <img src="{% static 'images/Estetica.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body bg-dark">
        <h5 class="card-title fs-2 text-white">Estética</h5>
        <p class="card-text fs-4"></p>
        <a href="/cursos/Estetica" class="btn btn-warning fs-3 d-grid gap-2 d-md-block">Ver curso</a>
      </div>
    </div>
    </div>
    

  </div>
</div>

{%endblock%}